@import url("https://fonts.googleapis.com/css?family=Righteous|Bangers");

html,body{
    height :100%;
    width  :100%;
    margin : 0 ;
    overflow : hidden;
    background : linear-gradient(45deg,indigo -100%,#131313);
}

svg{
    position : absolute;
    top : 5vmin;
    left : calc(50% - 172.5px);
}


.name{
    position: absolute;
    bottom: 25vh;
    left: 10vw;
    width: 80vw;
    height: 10vh;
    line-height: 10vh;
    font-family: 'Righteous',cursive;
    color: white;
    text-align: center;
    font-size: 10vmin;
}
.navbar{
    position : fixed;
    display:flex;
    flex-direction: row;
    width:100%;
    bottom : 5vmin;
    height : 10vmin;
    justify-content:space-around;
    z-index: 2;
    font-size: 5vmin;
    line-height: 10vmin;
    font-family: 'Bangers', sans-serif;
    text-align: center;
}
.navbar>a
{
    padding: 0 2vw 0 2vw;
    transition : 3s;
    cursor : pointer;
    border: 1px dashed white;
    color: yellow;
    text-decoration: none;
    transition :  100ms;
}
.navbar>a:hover{
    background : #131313;
}

@media (orientation: landscape){
    svg { left : calc(50vmin - 172.5px); top : calc(50vmin - 172.5px);}
    .navbar{
        flex-direction: column;
        left: 60%;
        width: 30%;
        height: 60%;
        top: 30%;
    }
    .name{
        top : 15%;
        width : 40%;
        left : 55%;

    }
  
}

.bounce{
    opacity : 0;
    animation  : fadeIn 2s linear 1s 1;
    animation-fill-mode: forwards;
}

.fadeIn:nth-child(1){
    animation : bounce 1s linear 1; 
}

.fadeIn:nth-child(2){
    animation : bounce 1s linear 0.2s 1; 
}

.fadeIn:nth-child(3){
    animation : bounce 1s linear 0.4s 1; 
}

@keyframes fadeIn{
    from{opacity : 0;}
    to{opacity : 1;}
}

@-webkit-keyframes bounce {
    from,
    20%,
    53%,
    80%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    40%,
    43% {
      -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: translate3d(0, -30px, 0);
      transform: translate3d(0, -30px, 0);
    }
  
    70% {
      -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: translate3d(0, -15px, 0);
      transform: translate3d(0, -15px, 0);
    }
  
    90% {
      -webkit-transform: translate3d(0, -4px, 0);
      transform: translate3d(0, -4px, 0);
    }
  }
  
  @keyframes bounce {
    from,
    20%,
    53%,
    80%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    40%,
    43% {
      -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: translate3d(0, -30px, 0);
      transform: translate3d(0, -30px, 0);
    }
  
    70% {
      -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: translate3d(0, -15px, 0);
      transform: translate3d(0, -15px, 0);
    }
  
    90% {
      -webkit-transform: translate3d(0, -4px, 0);
      transform: translate3d(0, -4px, 0);
    }
  }
  
  



