@import url("https://fonts.googleapis.com/css?family=Righteous|Bangers");

html,body{
    height :100%;
    width  :100%;
    margin : 0 ;
    overflow : hidden;
    background : linear-gradient(-45deg,indigo, #131313);
}

svg{
    position: absolute;
    top : 5vh;
    left : calc(50% - 30vh);
}
.name{
    position: absolute;
    bottom: 25vh;
    left: 10vw;
    width: 80vw;
    height: 10vh;
    line-height: 10vh;
    font-family: 'Righteous',cursive;
    color: white;
    text-align: center;
    font-size: 10vmin;
}
.navbar{
    position : fixed;
    display:flex;
    flex-direction: row;
    width:100%;
    bottom : 5vmin;
    height : 10vmin;
    justify-content:space-around;
    z-index: 2;
    font-size: 5vmin;
    line-height: 10vmin;
    font-family: 'Bangers', sans-serif;
}
.navbar>a
{
    padding: 0 2vw 0 2vw;
    transition : 3s;
    cursor : pointer;
    border: 1px dashed white;
    color: yellow;
    text-decoration: none;
    transition :  500ms;
}
.navbar>a:hover{
    background : #131313;
}



